@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

main{
  @apply py-20;
}

.h-screen-20{
  height: calc(100vh - 80px);
}

.font-primary {
  font-family: 'Montserrat', sans-serif;
}

.font-secondary {
  font-family: 'Playfair Display', serif;
}

h2 {
  @apply text-3xl md:text-4xl;
}

h3 {
  @apply text-2xl md:text-3xl
}

h4 {
  @apply text-xl md:text-2xl
}

h5, h6 {
  @apply text-lg md:text-xl
}


input, textarea{
  @apply border border-gray-200;
}

label {
  @apply font-medium;
}

.text-block {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    @apply font-semibold pb-4;
  }
}

body:has(.menu-open) {
  overflow: hidden;
}

.white-logo {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7476%) hue-rotate(110deg) brightness(98%) contrast(108%);
}